<!DOCTYPE html>
<html lang="ko">
	<head>
		<!--Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<!--sbb CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
		<title>Hello, sbb!</title>
	</head>
	<body>
	<!--Navigation bar -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<!--Contents in the default template -->
	<th:block layout:fragment="content"></th:block>
	<!-- End of Contents in the default template -->
	<!-- Bootstrap JS -->
	<script th:src="@{/bootstrap.min.js}"></script>
	<!-- Javascript start -->
	<th:block layout:fragment="script"></th:block>
	<!-- Javascript end -->
	</body>
</html>